body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #283345;
    overflow-y: auto;
    z-index: 1000;
}

.menu-lateral.minimizado {
    width: 60px;
}

.menu-lateral .btn-expandir {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #283345;
    cursor: pointer;
}

.menu-lateral .btn-expandir i {
    font-size: 24px;
    color: #fff;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-lateral ul li {
    width: 100%;
    position: relative;
}

.menu-lateral ul li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.menu-lateral ul li a:hover {
    background-color: #555;
}

.menu-lateral ul li a .icon {
    margin-right: 10px;
}

.menu-lateral.minimizado ul li a .txt-link {
    display: none;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #283345;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1001;
    border-radius: 8px;
    border-color: #000;
    color: #fff;
    top: 40%; /* * Ajuste este valor conforme necessário */

}

.menu-lateral.minimizado .dropdown-content {
    left: 60px; /* Adjust position when the menu is minimized */
}

.dropdown-content p {
    margin: 0;
    padding: 8px 0;
}

.logout-btn {
    display: block;
    margin-top: 10px;
    padding: 8px;
    background-color: #ff5555; /* Cor de fundo destacada */
    color: #fff;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold; /* Adiciona negrito ao texto */
}

.logout-btn:hover {
    background-color: #ff3333; /* Altera a cor de fundo ao passar o mouse */
}
