/* Estilos para o container */
.container {
    max-width: 600px;
    margin: 80px auto 20px auto;
    padding: 25px;
    text-align: center;
    background: linear-gradient(135deg, #ffffff, #f2f2f2); /* Gradiente suave no fundo */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais suave e envolvente */
    border-radius: 10px; /* Bordas arredondadas */
    border: 1px solid #ccc; /* Borda sutil */
}

@media (max-width: 800px) {
    .container {
        margin: 20px;
        padding: 20px;
    }
}

/* Estilos para os botões */
button {
    padding: 12px 24px;
    font-size: 18px;
    margin: 12px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 50px; /* Botões com bordas arredondadas */
    cursor: pointer;
    transition: background 0.3s, transform 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Sombra no botão */
}

button:hover {
    background-color: #007bff; /* Cor mais clara no hover */
    transform: translateY(-3px); /* Efeito de leve elevação ao passar o mouse */
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2); /* Sombra mais forte no hover */
}

@media (max-width: 600px) {
    button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

/* Estilos para o link com classe 'button' */
a.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    margin: 12px;
    background-color: #b42400;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px; /* Bordas arredondadas nos links */
    cursor: pointer;
    transition: background 0.3s, transform 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

a.button:hover {
    background-color: #fa3200;
    transform: translateY(-3px); /* Efeito de elevação ao hover */
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    a.button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

/* Estilos para as mensagens */
.message {
    font-size: 18px;
    color: #28a745; /* Cor verde mais vibrante */
    margin: 20px 0;
    font-weight: bold; /* Mensagens em negrito */
}

.error {
    color: #dc3545; /* Cor vermelha mais vibrante para erros */
    font-weight: bold;
}

/* Margens menores em telas menores */
@media (max-width: 600px) {
    .message {
        font-size: 16px;
        margin: 15px 0;
    }
}
